.divOverload{
    background-color: red;
}
.divOrder{
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid white;    
}
.divTruckOrder{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid white;    
}
.divTruckMessage{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid white;    
}
.inputMessage{
    flex: 1;
    margin-right:7px;
    height: 2rem;
}


.divOrderMain{
    display: flex;    
    align-items: center;
}

.divOrderExpanded{
    display: block;
    margin-left: 10px;
}
.imgEye{
    height: 1rem;    
}
.btnEye{
    margin-left: auto;
}