.divMain{
    margin-left: 5%;
    margin-right: 5%;
}
.tableUsers,.tableTrucks,.tableOrders{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid ;
    padding: 8px;
    text-align: center;    
  }


